@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */


@viewport {
  width: device-width;
  zoom: 1;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	height: 100vh;
}

@layer components {
	.preferenceBtn {
		@apply relative rounded px-3 py-1.5 font-medium items-center transition-all focus:outline-none inline-flex  ml-auto p-1 mr-2 hover:bg-dark-fill-3;
	}

	.preferenceBtn-tooltip {
		@apply absolute w-auto p-2 text-sm m-2  min-w-max translate-x-3  right-0 top-5 z-10 rounded-md shadow-md
		text-dark-layer-2 bg-gray-200  origin-center scale-0 transition-all duration-100 ease-linear group-hover:scale-100;
	}
}

/* dark  scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #282828;
}

::-webkit-scrollbar-thumb {
	background: #4d4d4d;
}

/* CODE EDITOR*/
.cm-scroller,
.cm-gutters {
	background-color: #282828 !important;
}
.cm-focused {
	outline: none !important;
}

.split {
	display: flex;
	flex-direction: row;
}

.gutter {
	background-color: rgb(26, 26, 26);
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: hsl(291, 92%, 10%);
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
}

code {
	border-radius: 5px;
	border-width: 1px;
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem;
	padding: 0.125rem;
	letter-spacing: 1px;
	white-space: pre-wrap;
	background-color: hsla(0, 0%, 100%, 0.07);
	border-color: rgba(247, 250, 255, 0.12);
	color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 0.5rem;
	color: rgba(239, 241, 246, 0.75);
	font-size: 0.98rem;
	line-height: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding: 1rem;
	white-space: pre-wrap;
}
.example-card pre strong {
	color: white;
	font-size: 1rem;
}
/*REACT Calender*/

.react-calendar {
  width: 350px;
  max-width: 100%;
  height:410px;
  background:whitesmoke;
  border: 10px solid rgb(100, 65, 132);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-left:20px;
  margin-top:20px;
}

.react-calendar--doubleView {
  width: 500px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 6px;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: purple;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #b57eb5;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
/*QOTW COMPONENT*/
.custom {
  position: absolute;
  top: 160px;
  right: 20px;
  width: 700px;
  height: 180px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid purple;
  border-radius: 20px;
  background-color: #808080;
}
.custom_1{
  position:absolute;
  top:40px;
  height:100px;
  width:650px;
}
.buttonStyle{
  position: absolute;
  top: 15px;
  right: 0;
  width:300px;
  margin: 10px; 
}
.diffStyle{
  position: absolute;
  top:70px;
  left:460px

}
.custom_second{
  position: absolute;
  top: 560px;
  right: 10px;
  width: 700px;
  height: 180px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid purple;
  border-radius: 20px;
  background-color: #808080;

}
.custom_third{
  position: absolute;
  top: 800px;
  right: 10px;
  width: 700px;
  height: 180px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid purple;
  border-radius: 20px;
  background-color: #808080;

}

/*  -------------------Mycalender-----------------------*/
.buttonHover{
  position: relative;
  top: 10px;
  left: 50px;
  height: 280px;
  width: 250px;
  transform: translateX(-50%);
  background-color: gray;
  border: 2px solid purple;
  padding: 80px;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.buttonHover_2{
  position:absolute;
  top:40px;
  height:100px;
  width:50px;

}
.buttonStyleHover{
  position: absolute;
  top: 150px;
  left:-52px;
  height:35px;
  width:180px;
  

}

/* CSS */
.overlay {
  pointer-events: none; /* Allows interaction with elements behind the overlay */
}

.overlay-content {
  pointer-events: auto; /* Allows interaction with overlay content */
}


h1 {
  padding: 80px; /* Adjust the value as needed */
}
