.App {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    transform: scale(200%);
  }
  .text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 36px;
  }
  .container svg {
    width: 150px;
    height: 150px;
    /* background-color: red; */
    transform: rotate(-90deg);
  }
  
  .container svg circle {
    fill: transparent;
    stroke: #415262;
    stroke-width: 4;
    transform: translate(5px, 5px);
    transition: all 2s;
    z-index: 0;
  }
  
  .container svg circle:nth-child(2) {
    fill: transparent;
    stroke: #007bff;
    stroke-width: 6;
    stroke-dasharray: 440;
    /* stroke-dashoffset: 0; */
    transition: all 0.1s;
  }
  
  .dot {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 128, 0, 0.281); */
    transition: all 0.1s;
    z-index: 9999;
  }
  
  .dot::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #007bff;
    z-index: 1000;
    position: absolute;
    border-radius: 10px;
    top: -2px;
    transform: translate(-10px);
    box-shadow: 0 0 20px 4px #007bff;
  }
  